@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: #383838;
    }
    .display-4{
        color: white;
        text-align: center;
    }
</style>

<div>
    <h3 class="display-4">Keycaps</h3>
</div>
<div class="row">
    @* @foreach (var product in Model)
    {
        <div class="col-md-3">
            <div class="card h-100">
                <img class="card-img-top" src="@product.ImagePath" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text"><small class="text-muted">฿@string.Format("{0:N}", @product.Price)</small></p>
                </div>
                <div class="card-body">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    } *@
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="product">
                <div class="img-box">
                    <img src="@product.ImagePath">
                </div>
                <p class="title">@product.ProductName</p>
                <p class="price">฿@string.Format("{0:N}", @product.Price)</p>
            </div>
        </div>
    }
</div>
